.re-ml{
  background-color: #12301f;
}
.re-ml-logo .re-img{
  color:#FFBA03;
}
.re-ml-logo .re-img span{
  color:#fff;
  float: right;
  position: relative;
  top:0.13rem;
  font-size: 0.1rem;
}
.ml-title{
  height:2rem;
  color:#FFBA03;
}
.ml-title>span{
  font-size: 1rem;
  display: block;
  float: left;
  line-height: 1.5rem;
  width: 70%;
  font-family: '方正正纤黑简体'
}
.ml-title>div{
  float: left;
  position: absolute;
    right: 0;
    bottom: 10px;
    width: 62px;
    height: 60px;
    color:rgba(255,255,255,0.6)
}
.ml-title>div::after{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -22px;
  width: 44px;
  height: 1px;
  background-color: currentColor;
  opacity: .6;
}























/**/
